.fullscreen {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

body, textarea {
	background-color: black;
	color: green;
}

textarea {
	border: none;
	outline: none;
	resize: none;
	font-size: 64px;
	font-family: monospace;
	width:100%;
}

#flash {
	position: absolute;
    left: 0px;
    top: 0px;
	z-index: 100;
}

#image {
	float: right;
}

h1 {
	font-size: 72px;
	text-align: center
}